<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.knime.workbench.repository.categories">
      <category
          description="Category containing molecule viewer nodes"
          icon="icons/molviewer.png"
          level-id="molviewer"
          locked="false"
          name="Molviewer"
          path="/community/3d-e-chem"/>
  </extension>

    <extension point="org.knime.workbench.repository.nodes">
        <node category-path="/community/3d-e-chem/molviewer" factory-class="nl.esciencecenter.e3dchem.knime.molviewer.MolViewerFactory"/>
    </extension>

</plugin>
